body {
background: #000;
background-image: url(neuron_tile.jpg);
background-repeat: repeat;
color: #FFFCAD;
}
#content a:link, #topmenu a:link, #sidemenu a:link {
color: #FFFCAD;
}
#content a:link {
border-bottom: dotted 1px #FFFCAD;
}
#content a:hover{
background: #C6C6C6;
}
#topmenuelement:hover, #sidemenuelement:hover{
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.5);
}
#content a:visited {
color: #777;
}
#sidemenu a:visited, #topmenu a:visited {
color: #FFFCAD;
}
#header, #sidemenuelement, #topmenuelement, #content, #footer{
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.8);
}

#topmenuelement.current, #sidemenuelement.current {
    background-color: rgb(100, 100, 100);
    background-color: rgba(100, 100, 100, 0.6);
}
